* {
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar-links {
    display: flex;
    column-gap: 35px;
}

.navbar-links a {
    text-decoration: none;
    color: rgb(16, 51, 84);
    font-size: 20px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.navbar-links a:hover {
    transform: scale(1.10);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.navbar-menu-toggle {
    display: none;
}

.side-navbar {
    background: linear-gradient(135deg, rgb(13, 51, 80), rgb(57, 57, 57));
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: rgb(255, 255, 255);
    transition: 2s;
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar i {
    cursor: pointer;
}

.side-navbar-link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
}

.side-navbar .side-navbar-link a:hover {
    transform: scale(1.10);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.product-search {
    width: 80%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus {
    outline: none;
}

.products {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-box {
    text-align: center;
    flex-basis: 20%;
}

.footer {
    background: linear-gradient(135deg, rgb(13, 51, 80), rgb(57, 57, 57));
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 40px;
}

@media screen and (max-width: 600px) {
    .navbar-menu-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-links {
        display: none;
    }
}
