* {
    padding: 0;
    margin: 0;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
        rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.navbar-links {
    display: flex;
    column-gap: 35px;
}

.navbar-links a {
    text-decoration: none;
    color: rgb(16, 51, 84);
    font-size: 20px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
}

.navbar-links a:hover {
    transform: scale(1.10);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.navbar-menu-toggle {
    display: none;
}

.side-navbar {
    background: linear-gradient(135deg, rgb(13, 51, 80), rgb(57, 57, 57));
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: rgb(255, 255, 255);
    transition: 2s;
}

.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar i {
    cursor: pointer;
}

.side-navbar-link a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: transform 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
}

.side-navbar .side-navbar-link a:hover {
    transform: scale(1.10);
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background: linear-gradient(135deg, rgb(13, 51, 80), rgb(57, 57, 57));
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.service {
    padding: 20px;
}

.service-container-1,
.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    gap: 40px;
}

.service-container-2 div {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(202, 202, 202));
    border-radius: 5px;
    padding: 10px;
}

.new-arrival,
.most-wanted {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container,
.most-wanted-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival-container img,
.most-wanted-container img {
    height: 80%;
    width: 83%;
    object-fit: fit;
}

.new-arrival-container button,
.most-wanted-container button {
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: rgb(13, 51, 80);
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(202, 202, 202));
    cursor: pointer;
    border-radius: 20px;
    border: none;
    position: absolute;
    top: 50%;
    left: 18%;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input {
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;
}

.news button {
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-top: 10px;
    background: linear-gradient(135deg, rgb(13, 51, 80), rgb(57, 57, 57));
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 20px;
    border: none;
}

.footer {
    background: linear-gradient(135deg, rgb(13, 51, 80), rgb(57, 57, 57));
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 40px;
}

@media screen and (max-width: 600px) {
    .navbar-menu-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-links,
    .header-image,
    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }
}